<div class="list row">
    <div class="col-md-8">
      <!-- -->
    </div>
    <div class="col-md-6">
      <h4>Classes List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let item of classes; let i = index"
          [class.active]="i == currentIndex"
          (click)="setCurrentClass(item, i)"
        > {{item.name}} <br /> <small>Code: {{item.code}}</small>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentClass">
        <h4>Class Details</h4>
        <div>
          <label><strong>Name:</strong></label> 
            {{currentClass.name}}
        </div>
        <div>
            <label><strong>Code:</strong></label> 
            {{currentClass.code}}
        </div>
        <div>
            <label><strong>Maximum Students:</strong></label> 
            {{currentClass.maximum_students}}
        </div>
        <div>
            <label><strong>Status:</strong></label>
            {{currentClass.status}}
          </div>
        <div>
          <label><strong>Description:</strong></label>
          {{currentClass.description}}
        </div>
        <br />
        <a class="badge badge-warning" routerLink="/classes/{{currentClass.id}}">
          Edit Class
        </a>
        <hr />
        <div>
          <h4>Students List</h4>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Date of Birth</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of currentClass.students; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{student.first_name}} {{student.last_name}}</td>
                <td>{{student.date_of_birth}}</td>
              </tr> 
            </tbody>
          </table>
        </div>
      </div>
  
      <div *ngIf="!currentClass">
        <br />
        <p>Please click on a class</p>
      </div>
    </div>
  </div>
  
  